<h1>Title: {{ title }}</h1>
<p-menubar [model]="items">
  <ng-template pTemplate="start"> </ng-template>
  <ng-template pTemplate="end">
    <input type="text" pInputText placeholder="Search" />
  </ng-template>
</p-menubar>
<div class="card">


<p-card header="Notes App">

  <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded" (click)="addNote()"></button>

  <p-splitter [style]="{'height': '300px'}" [panelSizes]="[20,80]" styleClass="mb-5">
    <ng-template pTemplate>
        <div class="col flex align-items-center justify-content-center">

          <li *ngIf="newNote" style="cursor: pointer;">
            {{ newNote.title}}<br />
            <span style="font-style: italic; margin-left: 30px">{{ newNote.note.toString().substring(0, 10) }}</span>
        </li>

          <li *ngFor="let note of notes" style="cursor: pointer;" (click)="editNote(note)" [ngClass]="getSelectedClass(note)">
              {{ note.title}}<br />
              <span style="font-style: italic; margin-left: 30px">{{ note.note.toString().substring(0, 10) }}</span>
          </li>

        </div>
    </ng-template>
    <ng-template pTemplate>

      <div *ngIf="newNote" style="width: 100%;">
        <br />

        <span class="p-float-label">
          <textarea id="float-input" rows="1" cols="30" pInputTextarea style="width: 100%;" [(ngModel)]="newNote.title" required minlength="4" ></textarea>
          <label for="float-input">Title</label>
        </span>
        <br />

        <span class="p-float-label">
          <textarea id="float-input" rows="5" cols="30" pInputTextarea style="width: 100%;" [(ngModel)]="newNote.note" required minlength="4" ></textarea>
          <label for="float-input">Note</label>
        </span>
        <br />

        <p-button label="Save" icon="pi pi-check" (click)="saveNote()"></p-button>
        <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{'margin-left': '.5em'}" (click)="cancelAddNote()"></p-button>

      </div>

      <div class="p-col p-d-flex p-ai-center p-jc-center" *ngIf="selectedNote && !newNote">
        <span style="font-weight: bold">{{ selectedNote.title }}</span>
        <br /><br />
        {{ selectedNote.note }}
      </div>
    </ng-template>
  </p-splitter>
</p-card>
</div>


<p-toast></p-toast>
