<h1>Title: {{ title }}</h1>
<p-menubar [model]="items">
  <ng-template pTemplate="start"> </ng-template>
  <ng-template pTemplate="end">
    <input type="text" pInputText placeholder="Search" />
  </ng-template>
</p-menubar>
<div class="card">
  <p-splitter [style]="{'height': '300px'}" [panelSizes]="[20,80]" styleClass="mb-5">
      <ng-template pTemplate>
          <div class="col flex align-items-center justify-content-center">
              <li *ngFor="let note of notes" style="cursor: pointer;" (click)="editNote(note)">
                {{ note.title}}
              </li>
          </div>
      </ng-template>
      <ng-template pTemplate>
        <div class="p-col p-d-flex p-ai-center p-jc-center" *ngIf="selectedNote">
          <span style="font-weight: bold">{{ selectedNote.title }}</span>
          <br /><br />
          {{ selectedNote.note }}
        </div>
      </ng-template>
  </p-splitter>
</div>
